

body{ 
  background-color: black;
  margin: 100px;
}

#Welcome { 
  text-align: center;
  color: whitesmoke;
  font-style:italic;
  font-weight:bold;
}

#rules {
  text-align: center;
  color: whitesmoke;
  font-style:italic;
  font-weight:bold;
  font-size: 24px;; 
}

.table{
text-align: left;
color: whitesmoke;
font-style: italic;
font-size:20px;

}

.eye
 {
  height: 120px;
  width: 120px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin: auto;
  
}

.eyes{
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem whitesmoke);
  margin-bottom: 120px;
  margin-top:100px;
  margin-left:130px;
  margin-right: 130px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#demo {
  color:rgba(255, 0, 0, 0.702);
  font-size: 25px;
  font-weight:bold;
  
}